///EDITED

/*
 * -------------------------------------------------
 * EDITED Nextflow config file for Sarek
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the configuration folder and imported under a
 * profile name here.
 */

manifest {
  author = 'us'
  description = 'test pipeline'
  homePage = 'github.com/mskcc/vaporware'
  mainScript = 'main.nf'
  name = 'Sarek'
  nextflowVersion = '>=0.32.0'
  version = '0.1'
}

// Provides extra options for the Java and Nextflow runtime. 
// It must be a blank separated list of -Dkey[=value] properties.

env {
  NXF_OPTS="-Xms1g"
}

docker {
  enabled = true
  fixOwnership = true
  runOptions = "-u \$(id -u):\$(id -g)"
}


singularity {
    enabled = false
}


process {
  withName:MapReads {
    container = "quay.io/collaboratory/dockstore-tool-bwa-mem:1.0"
  }
  withName:MarkDuplicates {
    container = "broadinstitute/gatk:latest"
  }
  withName:MergeBams {
    container = "jweinstk/samtools:latest"
  }
  withName:RecalibrateBam {
    container = "broadinstitute/gatk:latest"
  }
  withName:CreateRecalibrationTable {
    container = "broadinstitute/gatk:latest"
  }
}



// ALL images built

