///EDITED

/*
 * -------------------------------------------------
 * EDITED Nextflow config file for Sarek
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the configuration folder and imported under a
 * profile name here.
 *
 */

manifest {
  author = 'we did'
  description = 'test pipeline'
  homePage = 'https://github.com/mskcc/vaporware/tree/feature/nextflow'
  mainScript = 'main_align_markDups_BaseRecal.nf'
  name = 'Vaporware'
  nextflowVersion = '>=0.32.0'
  version = '0.0.1.dev0'
}

// Provides extra options for the Java and Nextflow runtime. 
// It must be a blank separated list of -Dkey[=value] properties.
env {
    NXF_OPTS="-Xms10g"    // trying 10g instead of 
}

params {
  outDir = "${PWD}"     // Path to output directory, default PWD
  sample =  "test_samples.tsv"   // sample TSV file
  genome = 'GRCh37'     // Default reference genome is GRCh38
  // path to reference files subdirectory
  verbose = true        // Enable for more verbose information, default false
  test = false          // boolean Not testing by default
  markdup_java_options = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption
  // see https://github.com/SciLifeLab/Sarek/blob/master/conf/base.config
  singleCPUMem  = 7.GB  // for processes that are using more memory but a single CPU only
  publishDirMode = 'link' // publishDir mode is 'link' by default
}

// Run profiles are specified with "-profile" at the command line
profiles {

    docker {
        includeConfig "conf/docker.config"
        includeConfig "conf/containers.config"
    }

    singularity {
        includeConfig "conf/singularity.config"
        includeConfig "conf/containers.config"
    }

    lsf_juno {
        params.mem_per_core = true
        params.genome_base = "/juno/work/taylorlab/cmopipeline/mskcc-igenomes"
        includeConfig "conf/singularity.config"
        includeConfig "conf/containers_lsf.config"
        includeConfig "conf/references.config"
        executor = "lsf"
        perJobMemLimit = false
        maxForks = 8

        process {
            memory = "0.08 GB"
            time = "8h"
            clusterOptions = "-sla CMOPI"
            }

        env {
            NXF_SINGULARITY_CACHEDIR = "/juno/work/taylorlab/cmopipeline/sandbox/singularity_images"
        }

    }
    awsbatch {
        params.mem_per_core = false
        params.genome_base = "s3://mskcc-igenomes" 
        includeConfig "conf/awsbatch.config"
        includeConfig "conf/docker.config"
        includeConfig "conf/containers.config"
        includeConfig "conf/references.config"
    }
}
