report {
    enabled = true
    file = "nextflow.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline.html"
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /ifs:/ifs'
}


executor {
    $lsf {
        // queueSize = 1000
        clusterOptions='-sla CMOPI'
    }
}


process {
    executor = "lsf"
    withName: run_svaba {
        module = "singularity/3.3.0"
        container = '/juno/work/ci/kellys5/projects/tempo-SNV-dev/svaba-dev/mskcc_svaba:dev.sif'
        cpus = 32
    }
}
