
// from https://www.nextflow.io/docs/latest/awscloud.html#aws-batch

// process.executor = 'awsbatch'
// process.queue = 'my-batch-queue'
// process.container = 'quay.io/biocontainers/salmon'
// aws.region = 'eu-west-1'


// // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// executor.awscli = '/home/ec2-user/miniconda/bin/aws'

// Below is the working version:

aws.region = 'us-east-1'
aws.client.storageEncryption = 'AES256'
process.queue = 'arn:aws:batch:us-east-1:474622381158:job-queue/nextflow-test'
executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
workDir = "s3://testbucketcmo/References/smallGRCh37/"
