// from https://www.nextflow.io/docs/latest/awscloud.html#aws-batch

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// executor.awscli = '/home/ec2-user/miniconda/bin/aws'

aws.region = <AWS_REGION> 
aws.client.storageEncryption = <STORAGE_ENCRYPTION>
process.queue = <AWS_BATCH_QUEUE_ARN>
executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
workDir = <AWS_S3_WORKDIR> 
