// from https://www.nextflow.io/docs/latest/awscloud.html#aws-batch

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// executor.awscli = '/home/ec2-user/miniconda/bin/aws'

aws.region = <AWS-REGION> 
aws.client.storageEncryption = <STORAGE-ENCRYPTION>
aws.batch.volumes = ['/scratch:/scratch:rw', '/root/.aws:/root/.aws:rw'] 
aws.batch.maxParallelTransfers = 3 
workDir = <AWS-S3-WORKDIR>
outDir = <AWS-S3-OUTDIR>

executor {
  name = 'awsbatch'
  awscli = '/home/ec2-user/miniconda/bin/aws'
}

process {
  queue = <AWS-BATCH-QUEUE-ARN>
  scratch = '/scratch'
  errorStrategy = 'retry'
  maxErrors = 3
}

params {
  mem_per_core = false
  reference_base = "s3:/"
  genome_base = params.genome == 'GRCh37' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : " ${reference_base}/mskcc-igenomes/igenomes/smallGRCh37"
}
