// from https://www.nextflow.io/docs/latest/awscloud.html#aws-batch

// NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// executor.awscli = '/home/ec2-user/miniconda/bin/aws'

aws.region = <AWS-REGION> 
aws.client.storageEncryption = <STORAGE-ENCRYPTION>
process.queue = <AWS-BATCH-QUEUE-ARN>
executor.name = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
workDir = <AWS-S3-WORKDIR> 
outDir = <AWS-S3-OUTDIR>
