
// from https://www.nextflow.io/docs/latest/awscloud.html#aws-batch

// process.executor = 'awsbatch'
// process.queue = 'my-batch-queue'
// process.container = 'quay.io/biocontainers/salmon'
// aws.region = 'eu-west-1'


// // NOTE: this setting is only required if the AWS CLI tool is installed in a custom AMI
// executor.awscli = '/home/ec2-user/miniconda/bin/aws'