/*
 * -------------------------------------------------
 * Nextflow config 
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:AlignReads {
    container = "quay.io/collaboratory/dockstore-tool-bwa-mem:1.0"
    cpus = { 4 }
    memory = { 8.MB } 
  }
  withName:ConvertSAMtoBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-view:1.0"
    cpus = { 4 }
    memory = { 8.MB } 
  }
  withName:SortBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-sort:1.0"
    cpus = { 4 }
    memory = { 8.MB } 
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    container = "broadinstitute/gatk:latest"
    cpus = { 4 }
    memory = { 8.MB }
  }
  withName:CreateRecalibrationTable {
    container = "broadinstitute/gatk:latest"
    cpus = { 4 }
    memory = { 8.MB }
  }
  withName:RecalibrateBam {
    container = "broadinstitute/gatk:latest"
    cpus = { 4 }
    memory = { 8.MB } 
  }
  withName:doSNPPileup {
    container = "cmopipeline/htstools:0.1.1"
    cpus = { 4 }
    memory = { 8.MB } 
  }
  withName:doFacets {
    container = "cmopipeline/facets-suite:1.5.6"
    cpus = { 4 }
    memory = { 8.MB }
  } 
  withName:dellyCall {
    container = "cmopipeline/delly:v0.8.1"
    cpus = { 4 } 
    memory = { 8.MB } 
  }
  withName:dellyFilter {
    container = "cmopipeline/delly:v0.8.1"
    cpus = { 4}
    memory = { 8.MB }
  }
  withName:makeSamplesFile {
    container = "ubuntu:latest"
    cpus = { 4}
    memory = { 8.MB } 
  }
  withName:runMutect2 {
    container = "broadinstitute/gatk:latest"
    cpus = { 4 }
    memory = { 8.MB }
  }
  withName:runManta {
    container = "cmopipeline/strelka2_manta:latest"
    cpus = { 4 }
    memory = { 8.MB }
  }
  withName:runStrelka {
    container = "cmopipeline/strelka2_manta:latest"
    cpus = { 4 }
    memory = { 8.MB }
  }
}

