/*
 * -------------------------------------------------
 * Container config 
 * -------------------------------------------------
 * This file defines the docker image used for each process in pipeline.nf
 * -------------------------------------------------
 */

 //------------- Read alignment

 process {
  withName:BWAMEM2_MEM {
    container = "cmopipeline/fastp-bwa-samtools:2.0.0"
  }
  withName:GATK4_MARKDUPLICATES {
    container = "broadinstitute/gatk:4.1.9.0"
  }
  withName:GATK4_APPLYBQSR {
    container = "broadinstitute/gatk:4.1.9.0"
  }
  withName:"SPLIT_INTERVALS.*" {
    container = "broadinstitute/gatk:4.1.0.0"
  }

//------------------- Somatic pipeline

  withName:GATK4_MUTECT2 {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:GATK4_MERGEVCFS {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:SOMATIC_MERGE_SV {
    container = "cmopipeline/bcftools-vt-mergesvvcf:0.0.1"
  }
  withName:SVTOOLS_VCF2BEDPE_SOMATIC {
    container = "cmopipeline/svtools:0.0.3"
  }
  withName:IANNOTATESV_SOMATIC {
    container = "cmopipeline/iannotatesv:0.0.2"
  }
  withName:"STRELKA_SOMATIC.*" {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:SOMATIC_COMBINE_CHANNEL {
    container = "cmopipeline/bcftools-vt:1.2.3"
  }
  withName:VCF2MAF {
    container = "cmopipeline/vcf2maf:vep88_1.3.0"
  }
  withName:FACETS {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  }
  withName:FACETS_PREVIEW_QC {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  }
  withName:MSISENSORPRO_MSISOMATIC {
    container = "vanallenlab/msisensor:0.5"
  }
  withName:POLYSOLVER {
    container = "sachet/polysolver:v4"
  }
  withName:LOHHLA {
    container = "cmopipeline/lohhla:1.1.7"
  }
  withName:MUTSIG {
    container = "cmopipeline/temposig:0.2.3"
  }
  withName:SOMATIC_FACETS_ANNOTATION {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  }
  withName:NEOANTIGEN {
    container = "cmopipeline/neoantigen:0.3.3"
  }
  withName:METADATA_PARSER {
    container = "cmopipeline/metadataparser:0.5.9"
  }
  withName:DELLY_CALL_SOMATIC {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:'DELLY_COMBINE' {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:MANTA_SOMATIC {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName: 'SVABA_SOMATIC|SVABA_GERMLINE' {
    container = "cmopipeline/svaba:0.0.1"
  }
  withName: 'BRASS_.*' {
    container = "cmopipeline/brass:0.0.2"
  }
  withName:BRASS_GENERATE_BAS {
    container = "quay.io/wtsicgp/pcap-core:5.5.0"
  }
  withLabel:ascat {
    container = "quay.io/wtsicgp/ascatNgs:4.4.0"
  }
  withName:HRDETECT {
    container = "cmopipeline/signaturetoolslib:0.0.1"
  }
  withName:SV_SIGNATURES {
    container = "cmopipeline/signaturetoolslib:0.0.1"
  }
  withName:SVCLONE {
    container = "cmopipeline/svclone:0.0.1"
  }
  withName:CLUSTERSV {
    container = "cmopipeline/clustersv:0.0.1"
  }
  withName:SVCIRCOS {
    container = "cmopipeline/biocircos:0.0.1"
  }

//------------------- Germline pipeline

  withName:DELLY_CALL_GERMLINE {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:GATK4_HAPLOTYPECALLER {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:GERMLINE_COMBINE_HC_VCF {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:MANTA_GERMLINE {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:"STRELKA2_GERMLINE" {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:GERMLINE_COMBINE_CHANNEL {
    container = "cmopipeline/bcftools-vt:1.2.2"
  }
  withName:GERMLINE_ANNOTATE_MAF {
    container = "cmopipeline/vcf2maf:vep88_1.2.7"
  }
  withName:GERMLINE_FACETS_ANNOTATION {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  }
  withName:GERMLINE_MERGE_SV {
    container = "cmopipeline/bcftools-vt-mergesvvcf:0.0.1"
  }
  withName:SVTOOLS_VCF2BEDPE_GERMLINE {
    container = "cmopipeline/svtools:0.0.3"
  }
  withName:IANNOTATESV_GERMLINE {
    container = "cmopipeline/iannotatesv:0.0.2"
  }


//------------------- Quality Control
  withName:CONPAIR_PILEUP {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:CONPAIR_CONCORDANCE {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:CONPAIR_ALL {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:ALFRED {
    container = "cmopipeline/alfred:v0.1.17"
  }
  withName:PICARD_COLLECTHSMETRICS {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:QUALIMAP_BAMQC {
    container = "cmopipeline/qualimap:0.0.1"
  }


//------------------- Cohort Aggregation
  withName:AGGREGATE_SOMATIC_MAF {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:AGGREGATE_SOMATIC_NETMHC {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:AGGREGATE_SOMATIC_FACETS {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:AGGREGATE_SOMATIC_SV {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:AGGREGATE_SOMATIC_METADATA {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:AGGREGATE_GERMLINE_MAF {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:AGGREGATE_GERMLINE_SV {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:AGGREGATE_QC_BAM {
    container = "cmopipeline/metadataparser:0.5.7"
  }
  withName:AGGREGATE_QC_CONPAIR {
    container = "cmopipeline/conpair:v0.3.3"
  }


//-------------------- Multi-Stage Containers
  withLabel:multiqc_process { // MULTIQC_SAMPLE, MULTIQC_SOMATIC, MULTIQC_COHORT
    container = "cmopipeline/multiqc:0.1.3"  
  }

}
