/*
 * -------------------------------------------------
 * Nextflow config 
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:AlignReads {
    container = "quay.io/collaboratory/dockstore-tool-bwa-mem:1.0"
    memory = { 8.MB * task.attempt }
    cpus = { 4 }
  }
  withName:ConvertSAMtoBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-view:1.0"
    memory = { 8.MB * task.attempt }
    cpus = { 4 }
  }
  withName:SortBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-sort:1.0"
    memory = { 8.MB * task.attempt }
    cpus = { 4 }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    container = "broadinstitute/gatk:latest"
    memory = { 8.MB * task.attempt }
    cpus = { 4 }
  }
  withName:CreateRecalibrationTable {
    container = "broadinstitute/gatk:latest"
    memory = { 8.MB * task.attempt}
    cpus = { 4 }
  }
  withName:RecalibrateBam {
    container = "broadinstitute/gatk:latest"
    cpus = { 4}
    memory = { 8.MB * task.attempt}
    // time = { 10.h * task.attempt}
  }
  withName:doSNPPileup {
    container = "cmopipeline/htstools:0.1.1"
    cpus = { 4}
    memory = { 8.MB * task.attempt}
    // time = { 10.h * task.attempt}
  }
}

