/*
 * -------------------------------------------------
 * Container config 
 * -------------------------------------------------
 * This file defines the docker image used for each process in pipeline.nf
 * -------------------------------------------------
 */

 //------------- Read alignment

 process {
  withName:AlignReads {
    container = "cmopipeline/fastp-bwa-samtools:2.0.0"
  }
  withName:MergeBamsAndMarkDuplicates {
    container = "broadinstitute/gatk:4.1.9.0"
  }
  withName:RunBQSR {
    container = "broadinstitute/gatk:4.1.9.0"
  }
  withName:"CreateScatteredIntervals.*" {
    container = "broadinstitute/gatk:4.1.0.0"
  }

//------------------- Somatic pipeline

  withName:RunMutect2 {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:SomaticCombineMutect2Vcf {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:SomaticMergeSVs {
    container = "cmopipeline/bcftools-vt-mergesvvcf:0.0.1"
  }
  withName:SomaticSVVcf2Bedpe {
    container = "cmopipeline/svtools:0.0.3"
  }
  withName:SomaticAnnotateSVBedpe {
    container = "cmopipeline/iannotatesv:0.0.2" 
  }
  withName:"SomaticRunStrelka2.*" {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:SomaticCombineChannel {
    container = "cmopipeline/bcftools-vt:1.2.3"
  }
  withName:SomaticAnnotateMaf {
    container = "cmopipeline/vcf2maf:vep88_1.2.7"
  }
  withName:DoFacets {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  } 
  withName:DoFacetsPreviewQC {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  }
  withName:RunMsiSensor {
    container = "vanallenlab/msisensor:0.5"
  }
  withName:RunPolysolver {
    container = "sachet/polysolver:v4"
  }
  withName:RunLOHHLA {
    container = "cmopipeline/lohhla:1.1.6"
  } 
  withName:RunMutationSignatures {
    container = "cmopipeline/temposig:0.2.3"
  }
  withName:SomaticFacetsAnnotation {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  } 
  withName:RunNeoantigen {
    container = "cmopipeline/neoantigen:0.3.2-hotfix"
  }
  withName:MetaDataParser {
    container = "cmopipeline/metadataparser:0.5.9"
  }
  withName:SomaticDellyCall {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:'.*DellyCombine' {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:SomaticRunManta {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName: '.*RunSvABA' {
    container = "cmopipeline/svaba:0.0.1"
  }
  withName: 'runBRASS.*' {
    container = "cmopipeline/brass:0.0.2"
  }
  withName:generateBasFile {
    container = "quay.io/wtsicgp/pcap-core:5.5.0"
  }
  withLabel:ascat {
    container = "quay.io/wtsicgp/ascatNgs:4.4.0"
  }
  withName:HRDetect {
    container = "cmopipeline/signaturetoolslib:0.0.1"
  }
  withName:RunSVSignatures {
    container = "cmopipeline/signaturetoolslib:0.0.1"
  }
  withName:SomaticRunSVclone {
    container = "cmopipeline/svclone:0.0.1"
  }
  withName:SomaticRunClusterSV {
    container = "cmopipeline/clustersv:0.0.1"
  }
  withName:SomaticRunSVCircos {
    container = "cmopipeline/biocircos:0.0.1"
  }

//------------------- Germline pipeline

  withName:GermlineDellyCall {
    container = "cmopipeline/delly-bcftools:0.0.1"
  }
  withName:GermlineRunHaplotypecaller {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:GermlineCombineHaplotypecallerVcf {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:GermlineRunManta {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:"GermlineRunStrelka2" {
    container = "cmopipeline/strelka2-manta-bcftools-vt:2.0.1"
  }
  withName:GermlineCombineChannel {
    container = "cmopipeline/bcftools-vt:1.2.2"
  }
  withName:GermlineAnnotateMaf {
    container = "cmopipeline/vcf2maf:vep88_1.2.7"
  }
  withName:GermlineFacetsAnnotation {
    container = "cmopipeline/facets-suite-preview-htstools:0.0.1"
  } 
  withName:GermlineMergeSVs {
    container = "cmopipeline/bcftools-vt-mergesvvcf:0.0.1"
  }
  withName:GermlineSVVcf2Bedpe {
    container = "cmopipeline/svtools:0.0.3"
  }
  withName:GermlineAnnotateSVBedpe {
    container = "cmopipeline/iannotatesv:0.0.2"
  }


//------------------- Quality Control
  withName:QcPileup {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:QcConpair {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:QcConpairAll {
    container = "cmopipeline/conpair:v0.3.3"
  }
  withName:QcAlfred {
    container = "cmopipeline/alfred:v0.1.17"
  }
  withName:QcCollectHsMetrics {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:QcQualimap {
    container = "cmopipeline/qualimap:0.0.1"
  }


//------------------- Cohort Aggregation
  withName:SomaticAggregateMaf {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:SomaticAggregateNetMHC {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:SomaticAggregateFacets {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:SomaticAggregateSv {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:SomaticAggregateMetadata {
    container = "cmopipeline/bcftools-vt:1.1.1"
  }
  withName:GermlineAggregateMaf {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:GermlineAggregateSv {
    container = "cmopipeline/bcftools-vt:1.2.0"
  }
  withName:QcBamAggregate {
    container = "cmopipeline/metadataparser:0.5.7"
  }
  withName:QcConpairAggregate {
    container = "cmopipeline/conpair:v0.3.3"
  }


//-------------------- Multi-Stage Containers
  withLabel:multiqc_process { // SampleRunMultiQC, SomaticRunMultiQC, CohortRunMultiQC
    container = "cmopipeline/multiqc:0.1.3"  
  }

}
