/*
 * -------------------------------------------------
 * Nextflow config 
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:FastP {
    container = "cmopipeline/fastp:1.0.0"
  }
  withName:FastQC {
    container = "biocontainers/fastqc:v0.11.5_cv3"
  }
  withName:AlignReads {
    container = "cmopipeline/bwa-samtools-gatk4-sambamba-samblaster:latest"
  }
  withName:SortBAM {
    container = "cmopipeline/bwa-samtools-gatk4-sambamba-samblaster:latest"
  }
  withName:MergeBams {
    container = "cmopipeline/bwa-samtools-gatk4-sambamba-samblaster:latest"
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:CreateRecalibrationTable {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:RecalibrateBam {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:Alfred {
    container = "sinisa88/alfred:v0.1.17"
  }
  withName:DoSnpPileup {
    container = "cmopipeline/htstools:0.1.1"
  }
  withName:DoFacets {
    container = "cmopipeline/facets-suite:1.5.6"
  } 
  withName:DellyCall {
    container = "cmopipeline/delly:v0.8.1"
  }
  withName:DellyFilter {
    container = "cmopipeline/delly:v0.8.1"
  }
  withName:CreateScatteredIntervals {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:RunMutect2 {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:IndexVcf {
    container = "cmopipeline/tabix:latest"
  }
  withName:RunMutect2Filter {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:CombineMutect2Vcf {
    container = "halllab/bcftools:v1.9"
  }
  withName:RunHaplotypecaller {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:CombineHaplotypecallerVcf {
    container = "broadinstitute/gatk:4.1.0.0"
  }
  withName:RunManta {
    container = "cmopipeline/strelka2_manta:latest" 
  }
  withName:RunStrelka2 {
    container = "cmopipeline/strelka2_manta:latest"
  }
  withName:MergeDellyAndManta {
    container = "halllab/bcftools:v1.9"
  }
  withName:RunBcfToolsOnDellyManta {
    container = "halllab/bcftools:v1.9"
  }
  withName:RunBcfToolsFilterOnDellyManta {
    container = "halllab/bcftools:v1.9"
  }
  withName:CombineChannel {
    container = "ubuntu:latest"
  }
  withName:RunBcfToolsFilterNorm {
    container = "halllab/bcftools:v1.9"
  }
  withName:RunBcfToolsMerge {
    container = "halllab/bcftools:v1.9"
  }
  withName:RunVcf2Maf {
    container = "cmopipeline/vcf2maf:1.6.17"
  }
  withName:RunMsiSensor {
    container = "vanallenlab/msisensor:0.5"
  }
  withName:RunHlaPolysolver {
    container = "sachet/polysolver:v4"
  }
}
