// docker.fixOwnership
// https://www.nextflow.io/docs/latest/config.html#scope-docker
// This option will changes ownership of the files, once the docker process is over



docker {
    enabled = true
    fixOwnership = true    // https://www.nextflow.io/docs/latest/config.html#scope-docker    // Evan comment: I don't entirely understand this
    runOptions = "-u \$(id -u):\$(id -g)"
}



process {
  withName:AlignReads {
    container = "quay.io/collaboratory/dockstore-tool-bwa-mem:1.0"
    memory = { 20.GB * task.attempt }
    cpus = { 10 }
  }
  withName:ConvertSAMtoBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-view:1.0"
    memory = { 20.GB * task.attempt }
    cpus = { 10 }
  }
  withName:SortBAM {
    container = "quay.io/cancercollaboratory/dockstore-tool-samtools-sort:1.0"
    memory = { 20.GB * task.attempt }
    cpus = { 10 }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    container = "broadinstitute/gatk:latest"
    memory = { 20.GB * task.attempt }
    cpus = { 8 }
  }
  withName:CreateRecalibrationTable {
    container = "broadinstitute/gatk:latest"
    memory = { 15.GB * task.attempt}
    cpus = { 1 }
  }
  withName:RecalibrateBam {
    container = "broadinstitute/gatk:latest"
    cpus = { 2 }
    memory = { 15.GB * 2 * task.attempt}
    time = { 10.h * task.attempt}
  }
}


