/*
 * -------------------------------------------------
 * Docker config 
 * -------------------------------------------------
 * This file sets parameters for running the pipeline with Docker
 * -------------------------------------------------
 */

docker {
    enabled = true
    fixOwnership = true    // https://www.nextflow.io/docs/latest/config.html#scope-docker    // Evan comment: I don't entirely understand this
    runOptions = "-u \$(id -u):\$(id -g)"
}
