/*
 * -------------------------------------------------
 * Exome config 
 * -------------------------------------------------
 * This file sets parameters specific to analyzing WES samples
 * -------------------------------------------------
 */

params { 
  facets {
    cval = 100
    snp_nbhd = 250
    ndepth = 35
    min_nhet = 25
    purity_cval = 500
    purity_min_nhet = 25
    genome = "hg19"
    R_lib = "0.5.14"
    seed = 100
  }
  somaticVariant {
    tumorVaf = 0.05
    tumorDepth = 20
    tumorCount = 3
    normalDepth = 10
    normalCount = 3
    gnomadAf = 0.01
    ponCount = 10
  }
  germlineVariant {
    normalDepth = 20
    normalVaf = 0.35
    gnomadAf = "non_cancer_AF_popmax>0.02"
  }
  scatterCount = 30
}
