params { 
  facets {
    cval = 100
    snp_nbhd = 250
    ndepth = 35
    min_nhet = 25
    purity_cval = 500
    purity_snp_nbhd = 250
    purity_ndepth = 35
    purity_min_nhet = 25
    genome = "hg19"
    directory = "."
    R_lib = "latest"
    single_chrom = "F"
    ggplot2 = "T"
    seed = 1000
  }
}
