/*
 * -------------------------------------------------
 * Genome config 
 * -------------------------------------------------
 * This file sets parameters specific to analyzing WGS samples
 * -------------------------------------------------
 */

params {
  facets {
    cval = 1000
    snp_nbhd = 500
    ndepth = 15
    min_nhet = 25
    purity_cval = 5000
    purity_min_nhet = 25
    genome = "hg19"
    R_lib = "0.5.14"
    seed = 100
  }
  somaticVariant {
    tumorVaf = 0.05
    tumorDepth = 20
    tumorCount = 3
    normalDepth = 10
    normalCount = 3
    gnomadAf = 0.01
    ponCount = 10
  }
  germlineVariant {
    normalDepth = 20
    normalVaf = 0.35
    gnomadAf = "AF_popmax>0.02"
  }
  lohhla {
    minCoverageFilter = 10
  }
  ascat {
    alleleCountLimit = ["GRCh37","smallGRCh37","GRCh38"].contains(params.genome) ? 48 : 1
  }
  scatterCount = 1000
}
