/*
 * -------------------------------------------------
 * Juno config 
 * -------------------------------------------------
 * Pipeline parameters specific to running Tempo with LSF on the Juno cluster at MSKCC
 * -------------------------------------------------
 */


executor {
    name                = 'slurm'
    pollInterval        = 45.s
    queueSize           = 3000
    queueStatInterval   = '2 min'
    submitRateLimit     = '90min'
    retry.delay         = '1s'
    retry.maxDelay      = '1 min'
}


process {
  memory = "8.GB"
  time = { task.attempt < 3 ? 3.h * task.attempt  : 500.h }
  clusterOptions = ""
  scratch = true
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
  queue = 'test01'
}

params {
  max_memory = "128.GB"
  mem_per_core = true
  reference_base = "/data1/core006/ccs_pipelines/pipeline_resources/"
  targets_base   = "${reference_base}/mskcc-igenomes/${params.genome.toLowerCase()}/tempo_targets"
  genome_base = params.genome == 'GRCh37' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "${reference_base}/mskcc-igenomes/igenomes/smallGRCh37"
  minWallTime = 3.h
  medWallTime = 6.h
  maxWallTime = 500.h
  wallTimeExitCode = '140,0,1,143'
}

env {
  SPARK_LOCAL_DIRS = './'
}
