/*
 * -------------------------------------------------
 * Iris config
 * -------------------------------------------------
 * Pipeline parameters specific to running Tempo with SLURM on the Iris cluster at MSKCC
 * -------------------------------------------------
 */
executor {
    name                = 'slurm'
    pollInterval        = 45.s
    queueSize           = 3000
    queueStatInterval   = '2 min'
    submitRateLimit     = '95min'
    retry.delay         = '1s'
    retry.maxDelay      = '1 min'
}
params {
  max_cpus          = 150
  max_memory        = 550.GB
  max_time          = 7.d
  reference_base = "/data1/core006/ccs_pipelines/pipeline_resources/"
  targets_base   = "${reference_base}/mskcc-igenomes/${params.genome.toLowerCase()}/tempo_targets"
  genome_base = params.genome == 'GRCh37' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "${reference_base}/mskcc-igenomes/igenomes/smallGRCh37"
  minWallTime = 3.h
  medWallTime = 6.h
  maxWallTime = 7.d
  wallTimeExitCode = '140,0,1,143'
  local_scratch_path         = '/localscratch'
  // Queue routing
  partition         = 'cmobic_cpu'
  short_queue       = 'cmobic_short'
  short_queue_hours = 3.h
}

def local_scratch_dir   = new File(params.local_scratch_path)
params.scratch          = local_scratch_dir.exists() ? params.local_scratch_path : null
process {
  queue = { task.time <= params.short_queue_hours ? params.short_queue : params.partition }
  memory = "8.GB"
  time = { task.attempt < 3 ? 3.h * task.attempt  : 7.d }
  clusterOptions = ""
  scratch          = params.scratch ? params.scratch : false
  maxRetries = 3
  errorStrategy = { task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
  beforeScript     = { params.scratch ? "unset R_LIBS; mkdir -p ${params.scratch}/${task.hash}; export SINGULARITY_TMPDIR=${params.scratch}/${task.hash}; export SINGULARITYENV_TMPDIR=${params.scratch}/${task.hash}; export SINGULARITYENV_JAVA_TOOL_OPTIONS='-Xms${task.memory.toMega() / 3}M -Xmx${task.memory.toGiga()}G'" : "unset R_LIBS; export SINGULARITYENV_JAVA_TOOL_OPTIONS='-Xms${task.memory.toMega() / 3}M -Xmx${task.memory.toGiga()}G'" }
  // stageInMode defaults to symlink; kept off 'copy' since /localscratch filled up when it was tried before
  stageOutMode     = 'copy'
}

singularity {
    autoMounts          = true
    enabled             = true
    envWhitelist        = 'TMPDIR,SINGULARITYENV_TMPDIR'
    pullTimeout         = 1.hour
    runOptions          = "-B $TMPDIR"
}

env {
  SPARK_LOCAL_DIRS = './'
}
env {
    TMPDIR                = "${params.scratch}"
    SINGULARITYENV_TMPDIR = "${params.scratch}"
}
