/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on Juno cluster in MSKCC
 * ----------------------------------------------------------------------------
 */

executor {
    name = 'lsf'
    queueSize = 50000
    perJobMemLimit = true
}

process {
  memory = "8.MB"
  time = { 3.h * task.attempt }
  clusterOptions = "-sla CMOPI"
}

process.errorStrategy = { task.attempt <= 1 ? 'retry' : 'ignore' }
process.maxRetries = 1

params {
  max_memory = 128.MB
  mem_per_core = true
  reference_base = "/juno/work/taylorlab/cmopipeline" 
  genome_base = params.genome == 'GRCh37' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : " ${reference_base}/mskcc-igenomes/igenomes/smallGRCh37"
}
