/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with Singularity on Juno cluster in MSKCC
 * ----------------------------------------------------------------------------
 */

executor {
    name = 'lsf'
    perJobMemLimit = true
}

process {
  beforeScript = 'module load singularity/3.0.3'
  maxForks = 100
  memory = "8.MB"
  time = "144h"
  clusterOptions = "-sla CMOPI"
}

params {
  genome_base = params.genome == 'GRCh37' ? "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37" : params.genome == 'GRCh38' ? "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh38" : "/juno/work/taylorlab/cmopipeline/mskcc-igenomes/igenomes/smallGRCh37"
  max_memory = 128.MB
  mem_per_core = true
}
