/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
/*
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
*/
    withName: SAMPLESHEET_CHECK {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }
    withName: 'GATK4_MARKDUPLICATES' {
        ext.args   = '--ASSUME_SORT_ORDER coordinate --MAX_RECORDS_IN_RAM 50000 --CREATE_INDEX true'
        ext.prefix = { "${meta.id}.md.bam" }
        ext.when   = { !(params.skip_tools && params.skip_tools.split(',').contains('markduplicates')) }
    }

    withName:BQSR_SPLITINTERVALS {
      ext.args = "--scatter-count ${params.bqsr_intervalCount} --subdivision-mode ${params.subdivision_mode}"
      ext.prefix = "./"
    }
    withName: 'GATK4SPARK_BASERECALIBRATOR' {
	ext.prefix = { meta.num_intervals <= 1 ? "${meta.id}.recal" : "${meta.id}_${intervals.baseName}.recal" }
        ext.args   = {"--conf 'spark.executor.cores = ${task.cpus}" + "'"}
    }

    withName: 'GATK4_GATHERBQSRREPORTS' {
        ext.prefix   = {"${meta.id}.recal"}
	ext.when     = { meta.num_intervals > 1 }
    }

    withName: 'GATK4SPARK_APPLYBQSR' {
        ext.prefix = { meta.num_intervals <= 1 ? "${meta.id}.recal" : "${meta.id}_${intervals.baseName}.recal" }
        ext.args   = {"--emit-original-quals --conf 'spark.executor.cores = ${task.cpus}" + "'"}
    }

    withName: 'MERGE_BAM|INDEX_BQSR_BAM' {
        publishDir = [
            mode: params.publish_dir_mode,
            path: { "${params.outdir}/bams/${meta.id}/" },
            pattern: "*{bam,bai}",
        ]
    }

}
