/*
 * -------------------------------------------------
 * Reference files config 
 * -------------------------------------------------
 * Relative paths to reference files used by pipeline.nf
 * -------------------------------------------------
 * GRCh37 is default and supported at first release of pipeline
 * smallGRCh37 is used for testing
 * GRCh38 is not fully supported
 */

params { 
  targets { 
      // If your files do not match this structure/naming, please create a folder and copy over the files or create symlinks.
      // If editing we recommend only changing the basename. 
      baitsInterval    = "${params.targets_base}/\${targets_id}/baits.interval_list"
      targetsInterval  = "${params.targets_base}/\${targets_id}/targets.interval_list"
      targetsBed       = "${params.targets_base}/\${targets_id}/targets.bed"
      targetsBedGz     = "${params.targets_base}/\${targets_id}/targets.bed.gz"
      targetsBedGzTbi  = "${params.targets_base}/\${targets_id}/targets.bed.gz.tbi"
      codingBed        = "${params.targets_base}/\${targets_id}/coding.bed"
  }
  genomes { 
    'smallGRCh37' {
      acLoci           = "${params.genome_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci"
      acLociGC         = "${params.genome_base}/1000G_phase3_20130502_SNP_maf0.3.small.loci.gc"
      bwaIndex         = "${params.genome_base}/human_g1k_v37_decoy.small.fasta.{amb,ann,bwt,pac,sa}"
      dbsnp            = "${params.genome_base}/dbsnp_138.b37.small.vcf"
      dbsnpIndex       = "${params.genome_base}/dbsnp_138.b37.small.vcf.idx"
      genomeDict       = "${params.genome_base}/human_g1k_v37_decoy.small.dict"
      genomeFile       = "${params.genome_base}/human_g1k_v37_decoy.small.fasta"
      genomeIndex      = "${params.genome_base}/human_g1k_v37_decoy.small.fasta.fai"
      intervals        = "${params.genome_base}/small.intervals"
      knownIndels      = "${params.genome_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf"
      knownIndelsIndex = "${params.genome_base}/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.small.vcf.idx"  
      msiSensorList    = "${params.genome_base}/small.msi.list"
      snpeffDb         = "GRCh37.75"
      vepCache = "${params.reference_base}/vep"
      vepCacheVersion  = "88"
      facetsVcf = "${params.genome_base}/dbsnp_138.b37.small.vcf"
      svCallingExcludeRegions = "${params.genome_base}/human.hg19.excl.tsv"
      svCallingIncludeRegions = "${params.genome_base}/b37.test.bed.gz"
      svCallingIncludeRegionsIndex = "${svCallingIncludeRegions}.tbi"
      repeatMasker = "${params.reference_base}/annotation/rmsk_mod.bed.gz"
      repeatMaskerIndex = "${repeatMasker}.tbi"
      mapabilityBlacklist = "${params.reference_base}/annotation/wgEncodeDacMapabilityConsensusExcludable.bed.gz"
      mapabilityBlacklistIndex = "${mapabilityBlacklist}.tbi"
      isoforms = "${params.reference_base}/annotation/isoforms"
      exomePoN = "${params.genome_base}/pon_test.vcf.gz"
      exomePoNIndex = "${exomePoN}.tbi"
      wgsPoN = "${params.genome_base}/pon_test.1.vcf.gz"
      wgsPoNIndex = "${wgsPoN}.tbi"
      gnomadWesVcf = "${params.reference_base}/gnomad/gnomad.exomes.r2.1.1.sites.non_cancer.vcf.gz"
      gnomadWesVcfIndex = "${gnomadWesVcf}.tbi"
      gnomadWgsVcf = "${params.reference_base}/gnomad/gnomad.genome.r2.1.1.sites.minimal.vcf.gz"
      gnomadWgsVcfIndex = "${gnomadWgsVcf}.tbi"
      hlaFasta = "${params.reference_base}/hla/abc_complete.fasta"
      hlaDat = "${params.reference_base}/hla/hla.dat"
      neoantigenCDNA = "${params.reference_base}/neoantigen/Homo_sapiens.GRCh37.75.cdna.all.fa.gz"
      neoantigenCDS = "${params.reference_base}/neoantigen/Homo_sapiens.GRCh37.75.cds.all.fa.gz"
    }
    'GRCh37' {
      acLoci      = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci"
      acLociGC    = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_20130502_SNP_maf0.3.loci.gc"
      dbsnp       = "${params.genome_base}/Annotation/GATKBundle/dbsnp_138.b37.vcf"
      dbsnpIndex  = "${dbsnp}.idx"
      genomeFile  = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta"
      bwaIndex    = "${params.genome_base}/Sequence/BWAIndex/human_g1k_v37_decoy.fasta.{amb,ann,bwt,pac,sa}"
      genomeDict  = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.dict"
      genomeIndex = "${genomeFile}.fai"
      intervals   = "${params.genome_base}/Annotation/intervals/human.b37.genome.bed"
      knownIndels = "${params.genome_base}/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf"
      knownIndelsIndex = "${params.genome_base}/Annotation/GATKBundle/{1000G_phase1,Mills_and_1000G_gold_standard}.indels.b37.vcf.idx"
      dellyExcludeRegions = "${params.reference_base}/mskcc-igenomes/grch37/delly/human.hg19.excl.tsv"
      vepCache = "${params.reference_base}/mskcc-igenomes/grch37/vep"
      msiSensorList = "${params.genome_base}/Sequence/WholeGenomeFasta/human_g1k_v37_decoy.fasta.microsatellites.list"
      facetsVcf   = "${params.reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/b37/dbsnp_137.b37__RmDupsClean__plusPseudo50__DROP_SORT.vcf"
      svCallingExcludeRegions = "${params.reference_base}/mskcc-igenomes/grch37/sv_calling/human.hg19.excl.tsv"
      svCallingIncludeRegions = "${params.reference_base}/mskcc-igenomes/grch37/sv_calling/b37.minusDellyExclude.bed.gz"
      svCallingIncludeRegionsIndex = "${svCallingIncludeRegions}.tbi"
      repeatMasker = "${params.reference_base}/mskcc-igenomes/grch37/annotation/rmsk_mod.bed.gz"
      repeatMaskerIndex = "${repeatMasker}.tbi"
      mapabilityBlacklist = "${params.reference_base}/mskcc-igenomes/grch37/annotation/wgEncodeDacMapabilityConsensusExcludable.bed.gz"
      mapabilityBlacklistIndex = "${mapabilityBlacklist}.tbi"
      isoforms = "${params.reference_base}/mskcc-igenomes/grch37/annotation/isoforms"
      exomePoN = "${params.reference_base}/mskcc-igenomes/grch37/annotation/wes.pon.vcf.gz"
      exomePoNIndex = "${exomePoN}.tbi"
      wgsPoN = "${params.reference_base}/mskcc-igenomes/grch37/annotation/wgs.pon.vcf.gz"
      wgsPoNIndex = "${wgsPoN}.tbi"
      gnomadWesVcf = "${params.reference_base}/mskcc-igenomes/grch37/gnomad/gnomad.exomes.r2.1.1.sites.non_cancer.vcf.gz"
      gnomadWesVcfIndex = "${gnomadWesVcf}.tbi"
      gnomadWgsVcf = "${params.reference_base}/mskcc-igenomes/grch37/gnomad/gnomad.genomes.r2.1.1.sites.minimal.vcf.gz"
      gnomadWgsVcfIndex = "${gnomadWgsVcf}.tbi"
      hlaFasta = "${params.reference_base}/mskcc-igenomes/grch37/hla/abc_complete.fasta"
      hlaDat = "${params.reference_base}/mskcc-igenomes/grch37/hla/hla.dat"
      neoantigenCDNA = "${params.reference_base}/mskcc-igenomes/grch37/neoantigen/Homo_sapiens.GRCh37.75.cdna.all.fa.gz"
      neoantigenCDS = "${params.reference_base}/mskcc-igenomes/grch37/neoantigen/Homo_sapiens.GRCh37.75.cds.all.fa.gz"
    } 
    'GRCh38' {
      acLoci           = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci"
      acLociGC         = "${params.genome_base}/Annotation/ASCAT/1000G_phase3_GRCh38_maf0.3.loci.gc"
      bwaIndex         = "${params.genome_base}/Sequence/BWAIndex/Homo_sapiens_assembly38.fasta.64.{alt,amb,ann,bwt,pac,sa}"
      dbsnp            = "${params.genome_base}/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz"
      dbsnpIndex       = "${params.genome_base}/Annotation/GATKBundle/dbsnp_146.hg38.vcf.gz.tbi"
      genomeDict       = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.dict"
      genomeFile       = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta"
      genomeIndex      = "${params.genome_base}/Sequence/WholeGenomeFasta/Homo_sapiens_assembly38.fasta.fai"
      intervals        = "${params.genome_base}/Annotation/intervals/wgs_calling_regions.hg38.bed"
      knownIndels      = "${params.genome_base}/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz"
      knownIndelsIndex = "${params.genome_base}/Annotation/GATKBundle/{Mills_and_1000G_gold_standard.indels.hg38,beta/Homo_sapiens_assembly38.known_indels}.vcf.gz.tbi"
      dellyExcludeRegions = "${params.reference_base}/mskcc-igenomes/grch38/delly/human.hg38.excl.tsv"
      snpeffDb         = "GRCh38.86"
      vepCacheVersion  = "95"
      // This a nasty-looking list of allele-frequencies files. Add/remove files to match to your sets
      //AF_files      = "${params.genome_base}/{00-All.dbsnp_151.hg38.CAF.TOPMED.alternate.allele.freq,hapmap_3.3_grch38_pop_stratified_af.HMAF,SweGen_hg38_stratified.SWAF}.vcf"
      //AF_indexes    = "${params.genome_base}/{00-All.dbsnp_151.hg38.CAF.TOPMED.alternate.allele.freq,hapmap_3.3_grch38_pop_stratified_af.HMAF,SweGen_hg38_stratified.SWAF}.vcf.idx"
      hlaFasta = "${params.reference_base}/mskcc-igenomes/grch38/hla/abc_complete.fasta"   
      hlaDat = "${params.reference_base}/mskcc-igenomes/grch38/hla/hla.dat"
      }
  }
}
