/*
 * -------------------------------------------------
 * AWS resource config
 * -------------------------------------------------
 * Process resources for AWS (default WES)
 * -------------------------------------------------
 */

//------------- Read alignment

 process {
  withName:SplitLanesR1 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SplitLanesR2 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AlignReads {
    cpus = { 8 }
    memory = { 96.GB }
  }
  withName:MergeBams {
    cpus = { 2 }
    memory = { 1.GB * task.attempt}
  }
  withName:MarkDuplicates {
    cpus = { 2 }
    memory = { 10.GB + (task.attempt * 2).GB }
  }
  withName:CreateRecalibrationTable {
    cpus = { 8 }
    memory = { 24.GB + (task.attempt * 2).GB }
  }
  withName:RecalibrateBam {
    cpus = { 8 }
    memory = { 24.GB + (task.attempt * 2).GB }
  }
  withName:CreateScatteredIntervals {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Somatic pipeline

  withName:SomaticDellyCall {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:RunMutect2 {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticCombineMutect2Vcf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticRunManta {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticRunStrelka2 {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticCombineChannel {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:SomaticAnnotateMaf {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:SomaticFacetsAnnotation {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticMergeDellyAndManta {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:DoFacets {
    cpus = { 1 }
    memory = { 20.GB * task.attempt }
  }
  withName:RunMsiSensor {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:RunPolysolver {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:RunLOHHLA {
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  } 
  withName:RunMutationSignatures {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:RunNeoantigen {
    cpus = { 1 }
    memory = { 8.GB * task.attempt * 2 }
  }
  withName:MetaDataParser {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Germline pipeline

  withName:GermlineDellyCall {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:GermlineRunHaplotypecaller {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineCombineHaplotypecallerVcf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineRunManta {
    cpus = { 8 }
    memory = { 8.GB * task.attempt }
  }
  withName:GermlineRunStrelka2 {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineCombineChannel {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineAnnotateMaf {
    cpus = { 1 }
    memory = { 6.GB * task.attempt }
  }
  withName:GermlineFacetsAnnotation {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineMergeDellyAndManta {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Quality Control

  withName:QcPileup {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcConpair {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAll {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcAlfred {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcCollectHsMetrics {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }

//------------- Cohort Aggregation

  withName:SomaticAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateNetMHC {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateFacets {
    cpus = { 1 }
    memory = { 1.GB }
  }
   withName:SomaticAggregateSv {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateMetadata {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GermlineAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GermlineAggregateSv {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:QcBamAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
}
