/*
 * -------------------------------------------------
 * AWS/genome resource config
 * -------------------------------------------------
 * Process resources for analyzing genomes on AWS
 * -------------------------------------------------
 */

//------------- Read alignment

 process {
  // withName:SplitLanesR1 - REMOVED (FASTP handles lane splitting)
  // withName:SplitLanesR2 - REMOVED (FASTP handles lane splitting)
  withName:BWAMEM2_MEM {
    cpus = { 8 }
    memory = { 120.GB }
  }
  withName:GATK4_MARKDUPLICATES {
    cpus = { 4 }
    memory = { 4.GB + (task.attempt * 2).GB }
  }
  withName:GATK4_APPLYBQSR {
    cpus = { 8 }
    memory = { 24.GB + (task.attempt * 2).GB }
  }
  withName:SPLIT_INTERVALS {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Somatic pipeline

  withName:DELLY_CALL_SOMATIC {
    cpus = { 1 }
    memory = { 16.GB * task.attempt }
  }
  withName:GATK4_MUTECT2 {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GATK4_MERGEVCFS {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:MANTA_SOMATIC {
    cpus = { 8 }
    memory = { 16.GB * task.attempt }
  }
  withName:STRELKA_SOMATIC {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:SOMATIC_COMBINE_CHANNEL {
    cpus = { 1 }
    memory = { task.attempt < 3 ? 4.GB * task.attempt : 8.GB * task.attempt }
  }
  withName:VCF2MAF {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:SOMATIC_FACETS_ANNOTATION {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SOMATIC_MERGE_SV {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:FACETS {
    cpus = { 1 }
    memory = { 40.GB * task.attempt }
  }
  withName:FACETS_PREVIEW_QC {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:HRDETECT {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:MSISENSORPRO_MSISOMATIC {
    cpus = { 1 }
    memory = { task.attempt < 3 ? 3.GB * task.attempt : 6.GB * task.attempt}
  }
  withName:POLYSOLVER {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:LOHHLA {
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }
  withName:MUTSIG {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:NEOANTIGEN {
    cpus = { 1 }
    memory = { 8.GB * task.attempt * 2 }
  }
  withName:METADATA_PARSER {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Germline pipeline

  withName:DELLY_CALL_GERMLINE {
    cpus = { 1 }
    memory = { 16.GB * task.attempt }
  }
  withName:GATK4_HAPLOTYPECALLER {
    cpus = { 2 }
    memory = { 8.GB * task.attempt }
  }
  withName:GERMLINE_COMBINE_HC_VCF {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:MANTA_GERMLINE {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:STRELKA2_GERMLINE {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:GERMLINE_COMBINE_CHANNEL {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GERMLINE_ANNOTATE_MAF {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:GERMLINE_FACETS_ANNOTATION {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GERMLINE_MERGE_SV {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Quality Control

  withName:CONPAIR_PILEUP {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:CONPAIR_CONCORDANCE {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:CONPAIR_ALL {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:ALFRED {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QUALIMAP_BAMQC {
    cpus = { 4 }
    memory = { task.attempt < 3 ? 10.GB * task.attempt : 16.GB * task.attempt }
  }

//------------- Cohort Aggregation

  withName:AGGREGATE_SOMATIC_MAF {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:AGGREGATE_SOMATIC_NETMHC {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:AGGREGATE_SOMATIC_FACETS {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
   withName:AGGREGATE_SOMATIC_SV {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:AGGREGATE_SOMATIC_METADATA {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:AGGREGATE_GERMLINE_MAF {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:AGGREGATE_GERMLINE_SV {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:AGGREGATE_QC_BAM {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:AGGREGATE_QC_CONPAIR {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:MULTIQC_COHORT {
    cpus = { 2 }
    memory = { task.attempt < 3 ? 5.GB * task.attempt : 30.GB }
  }

//------------- Multi-Stage Containers

  withLabel:multiqc_process { // MULTIQC_SAMPLE, MULTIQC_SOMATIC, MULTIQC_COHORT
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }
}
