/*
 * -------------------------------------------------
 * Nextflow config
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:FastP {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:FastQC {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:AlignReads {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:SortBAM {
    cpus = { 8 }
    memory = { 64.GB }
  }
  withName:MergeBams {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CreateRecalibrationTable {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RecalibrateBam {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:Alfred {
    cpus = { 1 }
    memory = { 4.GB }
  }
  withName:DoSNPPileup {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:DoFacets {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:DellyCall {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:DellyFilter {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CreateIntervalBeds {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunMutect2 {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunMutect2Filter {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CombineMutect2Vcf {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunManta {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunStrelka2 {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:MergeStrelka2Vcfs {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:MergeDellyAndManta {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunBcfToolsFilterOnDellyManta {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunHaplotypecaller { 
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CombineHaplotypecallerVcf {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CombineChannel{
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunBcfToolsFilterNorm {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunBcfToolsMerge {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunVcf2Maf {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunMsiSensor {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RunConpair {
    cpus = { 8 }
    memory = { 32.GB }
  }
}
