/*
 * -------------------------------------------------
 * Juno/genome resource config 
 * -------------------------------------------------
 * Process resources for analyzing genomes on Juno 
 * -------------------------------------------------
 */

//------------- Read alignment

 process {
  withName:SplitLanesR1 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SplitLanesR2 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AlignReads {
    cpus = { 8 }
    memory = { 15.GB }
  }
  withName:MergeBamsAndMarkDuplicates {
    cpus = { 2 }
    memory = { 5.GB + (task.attempt).GB }
  }
  withName:RunBQSR {
    cpus = { 8 }
    memory = { 3.GB + (task.attempt).GB }
  }
  withName:CreateScatteredIntervals {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Somatic pipeline

  withName:SomaticDellyCall {
    cpus = { 1 }
    memory = { 16.GB * task.attempt }
    time = { 500.h }
  }
  withName:RunMutect2 {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticCombineMutect2Vcf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticRunManta {
    cpus = { 8 }
    memory = { 2.GB * task.attempt }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:SomaticRunStrelka2 {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:SomaticCombineChannel {
    cpus = { 1 }
    memory = { task.attempt < 3 ? 4.GB * task.attempt : 8.GB * task.attempt }
  }
  withName:SomaticAnnotateMaf {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticFacetsAnnotation {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticMergeDellyAndManta {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:DoFacets {
    cpus = { 1 }
    memory = { 40.GB * task.attempt }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:DoFacetsPreviewQC {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
    time = { 1.h * task.attempt } 
  }
  withName:RunMsiSensor {
    cpus = { 1 }
    memory = { task.attempt < 3 ? 3.GB * task.attempt : 6.GB * task.attempt }
    time = { 500.h }
  }
  withName:RunPolysolver {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:RunLOHHLA {
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
    time = { 500.h }
  } 
  withName:RunMutationSignatures {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:RunNeoantigen {
    cpus = { 1 }
    memory = { 8.GB * task.attempt * 2 }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:MetaDataParser {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Germline pipeline

  withName:GermlineDellyCall {
    cpus = { 1 }
    memory = { 16.GB * task.attempt }
    time = { 500.h }
  }
  withName:GermlineRunHaplotypecaller {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineCombineHaplotypecallerVcf {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:GermlineRunManta {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
    time = { 500.h }
  }
  withName:GermlineRunStrelka2 {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:GermlineCombineChannel {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
    time = { task.attempt < 2 ? 6.h : 500.h }
  }
  withName:GermlineAnnotateMaf {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:GermlineFacetsAnnotation {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineMergeDellyAndManta {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Quality Control

  withName:QcPileup {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcConpair {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAll {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcAlfred {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcQualimap {
    cpus = { 4 }
    memory = { task.attempt < 3 ? 12.GB * task.attempt : 18.GB * task.attempt }
  }
  withLabel:multiqc_process { // SampleRunMultiQC , SomaticRunMultiQC , CohortRunMultiQC
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }

//------------- Cohort Aggregation

  withName:SomaticAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticAggregateNetMHC {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:SomaticAggregateFacets {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
   withName:SomaticAggregateSv {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:SomaticAggregateMetadata {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:GermlineAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineAggregateSv {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcBamAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:CohortRunMultiQC {
    cpus = { 2 }
    memory = { task.attempt < 3 ? 5.GB * task.attempt : 30.GB }
  }

//------------- Multi-Stage Containers

  withLabel:multiqc_process { // SampleRunMultiQC , SomaticRunMultiQC , CohortRunMultiQC
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }
}
