/*
 * -------------------------------------------------
 * General resource config 
 * -------------------------------------------------
 * General process resources used by default
 * -------------------------------------------------
 */

//------------- Read alignment
 process {
   withName:CrossValidateSamples {
    cpus = { 1 }
    memory = { 1.GB }
    executor = 'local'
  }

  withName:SplitLanesR1 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SplitLanesR2 {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AlignReads {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MergeBamsAndMarkDuplicates {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunBQSR {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:CreateScatteredIntervals {
    cpus = { 2 }
    memory = { 6.GB }
  }

//------------- Somatic pipeline

  withName:SomaticDellyCall {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunMutect2 {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticCombineMutect2Vcf {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticRunManta {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticRunStrelka2 {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticCombineChannel {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticAnnotateMaf {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SomaticMergeSVs {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DoFacets {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DoFacetsPreviewQC{
    cpus = { 2 }
    memory = { 4.GB }
  }
  withName:SomaticFacetsAnnotation {
    cpus = { 2 }
    memory = { 4.GB }    
  }
  withName:RunMsiSensor {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunPolysolver {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunLOHHLA {
    cpus = { 2 }
    memory = { 6.GB }
  } 
  withName:RunMutationSignatures {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunNeoantigen {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MetaDataParser {
    cpus = { 1 }
    memory = { 6.GB }
  }

//------------- Germline pipeline

  withName:GermlineDellyCall {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineRunHaplotypecaller { 
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineCombineHaplotypecallerVcf {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineRunManta {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineRunStrelka2 {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineCombineChannel {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GermlineAnnotateMaf {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GermlineFacetsAnnotation {
    cpus = { 1 }
    memory = { 1.GB }    
  }
  withName:GermlineMergeDellyAndManta {
    cpus = { 1 }
    memory = { 1.GB }
  }

//------------- Quality Control

  withName:QcPileup {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcConpair {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAll {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcAlfred {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:QcQualimap {
    cpus = { 2 }
    memory = { task.attempt < 3 ? 6.GB * task.attempt : 12.GB * task.attempt }
  }
  withName:QcCollectHsMetrics {
    cpus = { 2 }
    memory = { 6.GB }
  }

//------------- Cohort Aggregation

  withName:SomaticAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateNetMHC {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateFacets {
    cpus = { 1 }
    memory = { 1.GB }
  }
   withName:SomaticAggregateSv {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SomaticAggregateMetadata {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GermlineAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GermlineAggregateSv {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:QcBamAggregate {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:QcConpairAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:CohortRunMultiQC {
    cpus = { 2 }
    memory = { 5.GB }
  }

//------------- Multi-Stage Containers

  withLabel:multiqc_process { // SampleRunMultiQC , SomaticRunMultiQC , CohortRunMultiQC
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }
}
