/*
 * -------------------------------------------------
 * Juno resource config 
 * -------------------------------------------------
 * Process resources for Juno (default WES)
 * -------------------------------------------------
 */

//------------- Read alignment

 process {
  withName:AlignReads {
    cpus = { 8 }
    memory = { 8.GB * task.attempt }
  }
  withName:MergeBams {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:MarkDuplicates {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:CreateRecalibrationTable {
    cpus = { 8 }
    memory = { 3.GB * task.attempt }
  }
  withName:RecalibrateBam {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:Alfred {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:CollectHsMetrics {
    cpus = { 4 }
    memory = { 16.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:CreateScatteredIntervals {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:AggregateBamQc {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Somatic pipeline

  withName:SomaticDellyCall {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:RunMutect2 {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:SomaticCombineMutect2Vcf {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticRunManta {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:SomaticRunStrelka2 {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticCombineChannel {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticAnnotateMaf {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:SomaticMergeDellyAndManta {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:DoFacets {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:RunMsiSensor {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:RunPolysolver {
    cpus = { 4 }
    memory = { 1.GB * task.attempt }
  }
  withName:RunLOHHLA {
    cpus = { 4 }
    memory = { 8.GB * task.attempt }
  } 
  withName:RunMutationSignatures {
    cpus = { 4 }
    memory = { 2.GB * task.attempt }
  }
  withName:SomaticFacetsAnnotation {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }    
  }
  withName:RunNeoantigen {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:MetaDataParser {
    cpus = { 1 }
    memory = { 8.GB * task.attempt }
  }
  withName:SomaticAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SomaticAggregateNetMHC {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:SomaticAggregateFacets {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
   withName:SomaticAggregateSv {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }
  withName:SomaticAggregateMetadata {
    cpus = { 1 }
    memory = { 1.GB * task.attempt}
  }   

//------------- Germline pipeline

  withName:GermlineDellyCall {
    cpus = { 1 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineRunHaplotypecaller {
    cpus = { 8 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineCombineHaplotypecallerVcf {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineRunManta {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineRunStrelka2 {
    cpus = { 8 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineCombineChannel {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineAnnotateMaf {
    cpus = { 10 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineFacetsAnnotation {
    cpus = { 4 }
    memory = { 4.GB * task.attempt }    
  }
  withName:GermlineMergeDellyAndManta {
    cpus = { 2 }
    memory = { 4.GB * task.attempt }
  }
  withName:GermlineAggregateMaf {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:GermlineAggregateSv {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }

//------------- Quality Control

  withName:QcPileup {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:QcConpair {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAll {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:QcConpairAggregate {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
}
