/*
 * -------------------------------------------------
 * Nextflow config
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:FastP {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:FastQC {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:AlignReads {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SortBAM {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MergeBams {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:CreateRecalibrationTable {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RecalibrateBam {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:Alfred {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DoSNPPileup {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DoFacets {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DellyCall {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:DellyFilter {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:CreateIntervalBeds {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunMutect2 {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:IndexVCF {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunMutect2Filter {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunManta {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunStrelka {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:RunMsiSensor {
    cpus = { 2 }
    memory = { 6.GB }
  }
}

