/*
 * -------------------------------------------------
 * Nextflow config
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:FastP {
    cpus = { 2 }
    memory = { 1.MB * task.attempt }
  }
  withName:AlignReads {
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
  }
  withName:SortBAM {
    cpus = { 8 }
    memory = { 8.MB * task.attempt }
  }
  withName:MergeBams {
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:CreateRecalibrationTable {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
    time = { 32.h * task.attempt }
  }
  withName:RecalibrateBam {
    cpus = { 4 }
    memory = { 1.MB * task.attempt }
    time = { 32.h * task.attempt }
  }
  withName:Alfred {
    cpus = { 1 }
    memory = { 2.MB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:CreateScatteredIntervals {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }

//------------- Somatic Pipeline

  withName:SomaticDellyCall {
    cpus = { 1 }
    memory = { 4.MB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:RunMutect2 {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:SomaticCombineMutect2Vcf {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:SomaticRunManta {
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
    time = { 6.h * task.attempt }
  }
  withName:SomaticRunStrelka2{
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
  }
  withName:SomaticCombineChannel{
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:SomaticRunVcf2Maf {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:SomaticMergeDellyAndManta {
    cpus = { 2 }
    memory = { 4.MB * task.attempt }
  }
  withName:DoFacets {
    cpus = { 8 }
    memory = { 4.MB * task.attempt }
  }
  withName:RunMsiSensor {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:RunPolysolver {
    cpus = { 4 }
    memory = { 1.MB * task.attempt }
  }
  withName:RunLOHHLA {
    cpus = { 4 }
    memory = { 8.MB * task.attempt }
  } 
  withName:RunConpair {
    cpus = { 4 }
    memory = { 2.MB * task.attempt }
  }
  withName:RunMutationSignatures {
    cpus = { 4 }
    memory = { 2.MB * task.attempt }
  }
  withName:DoMafAnno {
    cpus = { 8 }
    memory = { 4.MB * task.attempt }
  }
  withName:RunNeoantigen {
    cpus = { 8 }
    memory = { 4.MB * task.attempt }
  }

//------------- Germline Pipeline

  withName:GermlineDellyCall {
    cpus = { 1 }
    memory = { 4.MB * task.attempt }
  }
  withName:GermlineRunHaplotypecaller {
    cpus = { 8 }
    memory = { 4.MB * task.attempt }
  }
  withName:GermlineCombineHaplotypecallerVcf {
    cpus = { 2 }
    memory = { 4.MB * task.attempt }
  }
  withName:GermlineRunManta {
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
  }
  withName:GermlineRunStrelka2 {
    cpus = { 8 }
    memory = { 1.MB * task.attempt }
  }
  withName:GermlineCombineChannel {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:GermlineRunVcf2Maf {
    cpus = { 4 }
    memory = { 4.MB * task.attempt }
  }
  withName:GermlineMergeDellyAndManta {
    cpus = { 2 }
    memory = { 4.MB * task.attempt }
  }
}
