/*
 * -------------------------------------------------
 * General resource config 
 * -------------------------------------------------
 * General process resources used by default
 * -------------------------------------------------
 */

//------------- Read alignment
 process {
   withName:CROSSVALIDATE_SAMPLES {
    cpus = { 1 }
    memory = { 1.GB }
    executor = 'local'
  }

  // withName:SplitLanesR1 - REMOVED, FASTP handles lane splitting
  // withName:SplitLanesR2 - REMOVED, FASTP handles lane splitting

  withName:BWAMEM2_MEM {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GATK4_MARKDUPLICATES {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GATK4_APPLYBQSR {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SPLIT_INTERVALS {
    cpus = { 2 }
    memory = { 6.GB }
  }

//------------- Somatic pipeline

  withName:DELLY_CALL_SOMATIC {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GATK4_MUTECT2 {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GATK4_MERGEVCFS {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MANTA_SOMATIC {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:STRELKA_SOMATIC {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SOMATIC_COMBINE_CHANNEL {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:VCF2MAF {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:SOMATIC_MERGE_SV {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:FACETS {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:FACETS_PREVIEW_QC{
    cpus = { 2 }
    memory = { 4.GB }
  }
  withName:SOMATIC_FACETS_ANNOTATION {
    cpus = { 2 }
    memory = { 4.GB }
  }
  withName:MSISENSORPRO_MSISOMATIC {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:POLYSOLVER {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:LOHHLA {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MUTSIG {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:NEOANTIGEN {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:METADATA_PARSER {
    cpus = { 1 }
    memory = { 6.GB }
  }

//------------- Germline pipeline

  withName:DELLY_CALL_GERMLINE {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GATK4_HAPLOTYPECALLER {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GERMLINE_COMBINE_HC_VCF {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:MANTA_GERMLINE {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:STRELKA2_GERMLINE {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GERMLINE_COMBINE_CHANNEL {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:GERMLINE_ANNOTATE_MAF {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GERMLINE_FACETS_ANNOTATION {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:GERMLINE_MERGE_SV {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:SVTOOLS_VCF2BEDPE_GERMLINE {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:IANNOTATESV_GERMLINE {
    cpus = { 1 }
    memory = { 1.GB }
  }

//------------- Quality Control

  withName:CONPAIR_PILEUP {
    cpus = { 1 }
    memory = { 2.GB * task.attempt }
  }
  withName:CONPAIR_CONCORDANCE {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:CONPAIR_ALL {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:ALFRED {
    cpus = { 2 }
    memory = { 6.GB }
  }
  withName:QUALIMAP_BAMQC {
    cpus = { 2 }
    memory = { task.attempt < 3 ? 6.GB * task.attempt : 12.GB * task.attempt }
  }
  withName:PICARD_COLLECTHSMETRICS {
    cpus = { 2 }
    memory = { 6.GB }
  }

//------------- Cohort Aggregation

  withName:AGGREGATE_SOMATIC_MAF {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_SOMATIC_NETMHC {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_SOMATIC_FACETS {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_SOMATIC_SV {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_SOMATIC_METADATA {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_GERMLINE_MAF {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_GERMLINE_SV {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_QC_BAM {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:AGGREGATE_QC_CONPAIR {
    cpus = { 1 }
    memory = { 1.GB * task.attempt }
  }
  withName:SVTOOLS_VCF2BEDPE_SOMATIC {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:IANNOTATESV_SOMATIC {
    cpus = { 1 }
    memory = { 1.GB }
  }
  withName:MULTIQC_COHORT {
    cpus = { 2 }
    memory = { 5.GB }
  }

//------------- Multi-Stage Containers

  withLabel:multiqc_process { // MULTIQC_SAMPLE, MULTIQC_SOMATIC, MULTIQC_COHORT
    cpus = { 1 }
    memory = { 3.GB * task.attempt }
  }
}
