/*
 * -------------------------------------------------
 * Singularity config 
 * -------------------------------------------------
 * Parameters used when running the pipeline with Singularity
 * -------------------------------------------------
 */

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-e --no-home -B $TMPDIR"
}

process {
    beforeScript = "unset R_LIBS"
}
