/*
 * -------------------------------------------------
 * Singularity config 
 * -------------------------------------------------
 * Parameters used when running the pipeline with Singularity
 * -------------------------------------------------
 */

singularity {
    enabled = true
    autoMounts = true
    beforeScript = "unset R_LIBS"
}
