/*
 * -------------------------------------------------
 * Singularity config 
 * -------------------------------------------------
 * Parameters used when running the pipeline with Singularity
 * -------------------------------------------------
 */

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B $TMPDIR"
}

process {
    beforeScript = "module use /admin/software/spack/spack_modulefiles/Core/ ; module load singularityce/4.1.0; unset R_LIBS; mkdir -p /localscratch/singularity/mnt/session"
}
