/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MSKCC Juno HPC cluster SLURM configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Configuration for running Tempo on the Juno cluster at Memorial Sloan Kettering
    Cancer Center using SLURM executor and Singularity containers.
----------------------------------------------------------------------------------------
*/

process {
    executor     = 'slurm'
    queue        = 'tempo'
    clusterOptions = '--mail-type=FAIL'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = '/juno/work/tempo/singularity_cache'
    runOptions = '--cleanenv --bind /juno'
}

executor {
    queueSize       = 500
    submitRateLimit  = '10/1sec'
    pollInterval     = '30 sec'
}
