/*
 * ----------------------------------------------------------------------------
 *  Nextflow config file for use with small test files
 * ----------------------------------------------------------------------------
 */

params {
  genome = "smallGRCh37"
  mem_per_core = false
  reference_base = "test-data/reference"
  genome_base = "${reference_base}"
}
