/*
 * -----------------------------------------------------------------------------------
 * Singularity config 
 * -----------------------------------------------------------------------------------
 * Nextflow config file for use with small test files, primarily for Travis-CI tests
 * -----------------------------------------------------------------------------------
 */

env {
  TMPDIR = "."
}
params {
  genome = "smallGRCh37"
  mem_per_core = false
  reference_base = "test-data/reference"
  targets_base   = "test-data/targets"
  genome_base = "test-data/genome"
  splitLanes = false
}

process.errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
process.maxRetries = 3
