/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Full-size test dataset using HCC1395 WES tumor-normal pair from nf-core/test-datasets
    sarek branch.

    Use as follows:
        nextflow run mskcc/tempo -profile test_full,<docker/singularity> --outdir <OUTDIR>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full-size test dataset using HCC1395 WES tumor-normal pair'

    // Input data - full-size HCC1395 tumor-normal WES from nf-core/test-datasets sarek branch
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/sarek/testdata/csv/HCC1395_WXS_somatic_full_test.csv'

    // Use GATK.GRCh38 genome from iGenomes for full test
    genome = 'GATK.GRCh38'
}
