/*
    Test config for comprehensive pipeline run (stub mode)
    Extends test.config, enables ALL pipeline paths using existing test data references
*/

params {
    // ---- Enable ALL workflows ----
    workflows              = 'snv,sv,facets,lohhla,qc,msisensor,germSNV,germSV'
    assay_type             = 'exome'

    // ---- Annotation references (somatic combine) ----
    repeat_masker              = "${projectDir}/test-data/genome/repeat_masker.bed.gz"
    repeat_masker_tbi          = "${projectDir}/test-data/genome/repeat_masker.bed.gz.tbi"
    mapability_blacklist       = "${projectDir}/test-data/genome/mapability_blacklist.bed.gz"
    mapability_blacklist_tbi   = "${projectDir}/test-data/genome/mapability_blacklist.bed.gz.tbi"
    somatic_pon                = "${projectDir}/test-data/genome/somatic_pon.vcf.gz"
    somatic_pon_tbi            = "${projectDir}/test-data/genome/somatic_pon.vcf.gz.tbi"
    gnomad_somatic             = "${projectDir}/test-data/genome/gnomad_somatic.vcf.gz"
    gnomad_somatic_tbi         = "${projectDir}/test-data/genome/gnomad_somatic.vcf.gz.tbi"

    // ---- Annotation references (germline combine) ----
    gnomad_germline            = "${projectDir}/test-data/genome/gnomad_germline.vcf.gz"
    gnomad_germline_tbi        = "${projectDir}/test-data/genome/gnomad_germline.vcf.gz.tbi"

    // ---- Facets ----
    facets_vcf                 = "${projectDir}/test-data/genome/facets_snps.vcf.gz"

    // ---- Germline calling regions ----
    call_regions               = "${projectDir}/test-data/genome/call_regions.bed.gz"
    call_regions_tbi           = "${projectDir}/test-data/genome/call_regions.bed.gz.tbi"

    // ---- SV calling include regions (Manta germline) ----
    sv_calling_include_regions     = "${projectDir}/test-data/genome/sv_include_regions.bed.gz"
    sv_calling_include_regions_tbi = "${projectDir}/test-data/genome/sv_include_regions.bed.gz.tbi"

    // ---- VEP / vcf2maf ----
    vep_cache                  = "${projectDir}/test-data/reference/vep"
    vep_cache_version          = '88'
    genome                     = 'GRCh37'
    species                    = 'homo_sapiens'

    // ---- HLA (Polysolver / LOHHLA) ----
    hla_fasta                  = "${projectDir}/test-data/reference/hla/abc_complete.fasta"
    hla_dat                    = "${projectDir}/test-data/reference/hla/hla.dat"

    // ---- SV blacklists (iAnnotateSV) ----
    sv_blacklist_bed               = "${projectDir}/test-data/reference/sv_blacklist/sv_blacklist.bed"
    sv_blacklist_bedpe             = "${projectDir}/test-data/reference/sv_blacklist/sv_blacklist.bedpe"
    sv_blacklist_foldback_bedpe    = "${projectDir}/test-data/reference/sv_blacklist/sv_blacklist_foldback.bedpe"
    sv_blacklist_te_bedpe          = "${projectDir}/test-data/reference/sv_blacklist/sv_blacklist_te.bedpe"

    // ---- Neoantigen ----
    neoantigen_cdna                = "${projectDir}/test-data/reference/neoantigen/cdna.fa"
    neoantigen_cds                 = "${projectDir}/test-data/reference/neoantigen/cds.fa"

    // ---- Germline annotation (vcf2maf isoforms) ----
    isoforms                       = null

    // ---- MetaDataParser ----
    coding_bed                     = "${projectDir}/test-data/genome/coding_baits.bed"

    // ---- MutSig ----
    cosmic                         = 'v3'

    // ---- WGS-only references (ASCAT / BRASS) ----
    snp_gc_corrections             = "${projectDir}/test-data/genome/SnpGcCorrections.small.tsv"
    brass_ref_dir                  = "${projectDir}/test-data/reference/brass"
    vagrent_ref_dir                = "${projectDir}/test-data/reference/vagrent"

    // ---- HRDetect / SV Signatures scripts ----
    hrdetect_script                = null
    sv_signature_script            = null

    // ---- MultiQC configs ----
    multiqc_sample_config          = "${projectDir}/test-data/reference/multiqc/sample_config.yaml"
    multiqc_somatic_config         = "${projectDir}/test-data/reference/multiqc/somatic_config.yaml"
    multiqc_cohort_config          = "${projectDir}/test-data/reference/multiqc/cohort_config.yaml"
}
