/*
 * -------------------------------------------------
 * Nextflow config
 * -------------------------------------------------
 * Images for every process
 * "docker://" prefix for singularity obsolete in newer NF versions
 * -------------------------------------------------
 */

 process {
  withName:AlignReads {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:SortBAM {
    cpus = { 8 }
    memory = { 64.GB }
  }
  withName:MergeBams {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:MarkDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options; cf https://github.com/SciLifeLab/Sarek/blob/master/conf/resources.config#L31
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CreateRecalibrationTable {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:RecalibrateBam {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:doSNPPileup {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:doFacets {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:dellyCall {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:dellyFilter {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:makeSamplesFile {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:CreateIntervalBeds {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runMutect2 {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:indexVCF {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runMutect2Filter {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:combineMutect2VCF {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runManta {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runStrelka {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:combineChannel{
    cpus = { 2 }
    memory = { 4.GB }
  }
  withName:runBCFToolsFilterNorm {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runBCFToolsMerge {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runMsiSensor {
    cpus = { 8 }
    memory = { 32.GB }
  }
  withName:runLumpyExpress {
    cpus = { 8 }
    memory = { 32.GB }
  }
}

