profiles {
	pcawg_versionControl {
		includeConfig "conf/resources.config"
	}
	pcawg_updated {
		includeConfig "conf/resources_updated.config"
	}
}

executor {
	name = "lsf"
	queueSize = 5000000000
	perJobMemLimit = true
	clusterOptions = '-sla CMOPI'
}

params {
	reference_base = "/juno/work/taylorlab/cmopipeline" 
	genome_base = "${reference_base}/mskcc-igenomes/igenomes/Homo_sapiens/GATK/GRCh37"
}
singularity {
	enabled = true
	autoMounts = true
}
trace {
	enabled = true
	fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
	file = "trace.txt"
}
