process {
	withName:runBRASS {
		container = "quay.io/wtsicgp/brass:v6.3.4"
	}
	withName:runAscat {
		container = "quay.io/wtsicgp/ascatNgs:4.4.0"
	}
	withName:runPCAP {
		container = "quay.io/wtsicgp/pcap-core:5.5.0"
	}
	memory = { 4.GB * task.attempt }
	cpus = 2
	time = { task.attempt < 3 ? 6.h * task.attempt  : 500.h }
	clusterOptions = ""
	scratch = true
	beforeScript = "unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
	errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
	maxRetries = 3
	module = "singularity/3.3.0"
}
