[Reference Paths]
GRCh37cds: ./Homo_sapiens.GRCh37.75.cds.all.fa.gz
GRCh37cdna: ./Homo_sapiens.GRCh37.75.cdna.all.fa.gz

[NetMHCpan]

netmhc4_bin_path: /usr/local/bin/netMHC-4.0/netMHC
netmhc4_alleleslist: /usr/local/bin/netMHC-4.0/data/allelelist
netmhcpan4_bin_path: /usr/local/bin/netMHCpan-4.0/netMHCpan

[POLYSOLVER]
polysolver_bin: ~/polysolver/shell_call_hla_type_singularity
